<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MainApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MainApplication.Properties.Settings>
      <setting name="KnownGPUProcesses" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ApplicationFrameHost</string>
            <string>Calculator</string>
            <string>Weather</string>
            <string>Photos</string>
            <string>Dropbox</string>
            <string>Calculator</string>
            <string>Films &amp; TV</string>
            <string>Store</string>
            <string>Xbox</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ShowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutomaticStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KillOnIdle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForceOnDemandPowerPlan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KillDropbox" serializeAs="String">
        <value>True</value>
      </setting>
    </MainApplication.Properties.Settings>
  </userSettings>
</configuration>
